doctype html

mixin label(forWhat, text)
	label.control-label(for=forWhat)!= text
		
mixin offset()
	block

mixin submit(text)
	button.btn.btn-primary(type='submit', title=text)&attributes(attributes)= text	

mixin cancel(text)
	button.btn.btn-warning(title=text)&attributes(attributes)= text	

mixin inputHidden(id, model)
	input(type='hidden', name=id, id=id, ng-model=model)

mixin inputRequired(type, id, text, model)
	.form-group
		+label(id, text)
		+offset()
			input.form-control(type=type, name=id, id=id, required, ng-model=model)&attributes(attributes)

mixin input(type, id, text, model)
	.form-group
		+label(id, text)
		+offset()
			input.form-control(type=type, name=id, id=id, ng-model=model)&attributes(attributes)

mixin inputWithPlaceholder(type, id, text, model)
	.form-group
	+offset()
		input.form-control(type=type, name=id, id=id, ng-model=model, placeholder=text)
	
mixin number(id, text, model)
	+input('number', id, text, model)(attributes=attributes)

mixin numberRequired(id, text, model)
	+inputRequired('number', id, text, model)&attributes(attributes)

mixin check(id, text, model)
	+offset()
		.checkbox
			label
				input(type='checkbox', name=id, id=id, ng-model=model)
				!= text

mixin dropDown(id, text, options, model)
	+label(id, text)
	+offset()
		select.form-control(id=id, name=id, ng-model=model)
			for option in options
				option= option