EeeDataSet(xmlns="http://tempuri.org/EeeDataSet.xsd")
	for message in messages
		Message
			MessageID= message.legacyId
			FromUserID= message.sender.legacyId
			ToUserID 0
			RoomID 0
			Message= message.content
			Time= message.createdAt.toISOString()
			Seen 1
			Login= message.sender.username
			Color 2